
.env
*.env
*.log
*.pyc
__pycache__/
.DS_Store
*.sqlite3

.vscode/
.idea/
*.swp

budgetgpt-frontend/node_modules/
budgetgpt-frontend/.env.local
budgetgpt-frontend/.env.development
budgetgpt-frontend/.env.production
budgetgpt-frontend/build/
budgetgpt-frontend/dist/

budgetgpt-backend/venv/
budgetgpt-backend/.env
budgetgpt-backend/instance/
budgetgpt-backend/__pycache__/
budgetgpt-backend/*.pyc
budgetgpt-backend/*.pyo
budgetgpt-backend/*.pyd
